<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="background-color: green;">
  <marquee>hello<h1 class="bg-blue-500 p-4">hello g kya hal chal sherr see calculation with ejs 2+2= <%= 2 + 2%></h1></marquee>
 
  <script src="/javascript/script.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>